@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  font-family: "AppleSDGothicNeo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AppleSDGothicNeo", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
