@charset "UTF-8";

* {
  font-family: "AppleSDGothicNeo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AppleSDGothicNeo", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
